.login-page {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.login-page form {
   background-color: white;
   padding: 40px;
   border-radius: 10px;
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
   width: 500px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.login-page h2 {
   margin-top: 0;
   font-size: 36px;
   font-weight: bold;
   color: #333;
}

.form-group {
   display: flex;
   flex-direction: column;
   margin-bottom: 30px;
   width: 100%;
}

.login-page label {
   font-weight: bold;
   color: #333;
   margin-bottom: 10px;
}

.login-page input {
   padding: 20px;
   border-radius: 10px;
   border: none;
   font-size: 18px;
   width: 100%;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
   margin-bottom: 20px;
   outline: none;
   transition: all 0.3s ease;
}

.login-page input::-webkit-input-placeholder {
   font-size: 18px;
   color: #bbb;
   transition: all 0.3s ease;
}

.login-page input:focus::-webkit-input-placeholder {
   color: #43e97b;
   transform: translateY(-20px);
   font-size: 14px;
}

.login-page button {
   padding: 20px 40px;
   border-radius: 10px;
   background-color: #43e97b;
   color: white;
   cursor: pointer;
   font-size: 18px;
   font-weight: bold;
   border: none;
   margin-top: 30px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease;
   outline: none;
}

.login-page button:hover {
   background-color: #38f9d7;
   transform: translateY(-5px);
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}