.banner{
	background: url(photos/antoine-giret-7_TSzqJms4w-unsplash.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
transition: 5s;
	height: 85vh;

	animation-name: animate;
	animation-direction: alternate-reverse;
	animation-duration:18s;
	animation-fill-mode: forwards;
	animation-iteration-count:infinite ;
	animation-play-state: running;
	animation-timing-function:ease-in-out;
	background-color: #424369;
}
/* changes */
@keyframes animate{
    0%
    {
        background-image: url(photos/antoine-giret-7_TSzqJms4w-unsplash.jpg);
    }
    20%{
        background-image: url(photos/antoine-giret-7_TSzqJms4w-unsplash.jpg);
    }
    40%
    {
        background-image: url(photos/antoine-giret-7_TSzqJms4w-unsplash.jpg);
    }
    60%
    {
        background-image: url(photos/antoine-giret-7_TSzqJms4w-unsplash.jpg);
    }
    80%
    {
        background-image: url(photos/antoine-giret-7_TSzqJms4w-unsplash.jpg);
    }
    100%
    {
        background-image: url(photos/antoine-giret-7_TSzqJms4w-unsplash.jpg);
    }
}
.intro{
	position: absolute;
	top: 30%;
	left: 10%;
	color: white;
}

.intro h2,p{
	display: block;
	width: 60%;
}

.intro h2{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 30px;
}
.intro .btn{
	margin-top: 2rem;
}
