.signup-page {
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
 
.signup-page form {
   background-color: white;
   padding: 30px;
   border-radius: 10px;
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
   width: 500px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}
 
 .signup-page h2 {
   margin-top: 0;
   font-size: 36px;
   font-weight: bold;
   color: #333;
 }
 
 .form-group {
   display: flex;
   flex-direction: column;
   margin-bottom: 15px;
   width: 100%;
 }
 
 .signup-page label {
   font-weight: bold;
   color: #333;
   margin-bottom: 5px;
 }
 
 .signup-page input {
   padding: 20px;
   border-radius: 10px;
   border: none;
   font-size: 18px;
   width: 100%;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
   margin-bottom: 15px;
   outline: none;
   transition: all 0.3s ease;
 }
 
 .signup-page input::-webkit-input-placeholder {
   font-size: 18px;
   color: #bbb;
   transition: all 0.3s ease;
 }
 
 .signup-page input:focus::-webkit-input-placeholder {
   color: #6a11cb;
   transform: translateY(-20px);
   font-size: 14px;
 }
 
 .signup-page button {
   padding: 20px 40px;
   border-radius: 10px;
   background-color: #6a11cb;
   color: white;
   cursor: pointer;
   font-size: 18px;
   font-weight: bold;
   border: none;
   margin-top: 30px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease;
   outline: none;
 }
 
 .signup-page button:hover {
   background-color: #2575fc;
   transform: translateY(-5px);
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
 }
 